<div class="test">
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" (click)="openAdd()" data-toggle="modal">Add</button>
      </div>
      <div class="col-md-2">
         <button type="button" class="btn btn-primary" (click)="exports()" data-toggle="modal">Export</button>
      </div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="offset-md-10 col-md-2">
        <mat-form-field class="example-full-width">
          <input (keyup)="applyFilter($event)" matInput placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div
          class="mt-4 mat-elevation-z8 table-responsive table table-striped table-bordered nowrap m-0 dataTable no-footer">
          <table mat-table [dataSource]="dataSource" class="table">

            <!-- Position Column -->
            <ng-container matColumnDef="emp_id">
              <th mat-header-cell *matHeaderCellDef> Emp_id </th>
              <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
            </ng-container>
            <ng-container matColumnDef="address1">
              <th mat-header-cell *matHeaderCellDef> Address1 </th>
              <td mat-cell *matCellDef="let element"> {{element.Address1}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="qualification">
              <th mat-header-cell *matHeaderCellDef> qualification </th>
              <td mat-cell *matCellDef="let element"> {{element.Qualification}} </td>
            </ng-container>

            <ng-container matColumnDef="earnings">
              <th mat-header-cell *matHeaderCellDef> Earnings </th>
              <td mat-cell *matCellDef="let element"> {{element.Earnings}} </td>
            </ng-container>
            <ng-container matColumnDef="deduction">
              <th mat-header-cell *matHeaderCellDef> Deduction </th>
              <td mat-cell *matCellDef="let element"> {{element.Deduction}} </td>
            </ng-container>
            <ng-container matColumnDef="totalpay">
              <th mat-header-cell *matHeaderCellDef> Total_pay </th>
              <td mat-cell *matCellDef="let element"> {{element.Total_pay}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element;let i = index">
                <div class="d-flex">
                  <a class="btn btn-sm white btn-success mr-2" (click)="editData(element,i)">Edit</a>
                  <a (click)="deleteConfirm(element,i)" class="btn btn-sm white btn-danger">Delete</a>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delete-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-body text-center">
      <div class="row">
        <div class="col-md-12">
          <span class="text-danger fs-34 material-icons mr-2 icon-image-preview mb-2">delete_outline</span>

          <h6>Are you sure want to delete1?</h6>
        </div>
      </div>
      <hr />
      <div class="row m-t-15">
        <div class="col-sm-12">
          <button type="button" class="btn btn-sm btn-success mr-1" 
            >Delete</button>
          <button type="button" class="btn btn-sm btn-danger ml-1" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="add">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="white modal-title">Add</h5>
        <button type="button" data-dismiss="modal" class="close">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addData">
          <div class="form-group">
            <label>Name</label>
            <input formControlName="name" name="name" type="text" class="form-control textTranform"
              placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f1.name.errors }" />
            <div class="text-danger" *ngIf="submitted && f1.name.errors && f1.name.errors.required">
              Name is required</div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <!-- <input [(ngModel)]="Address" name="Address" type="text" class="form-control"> -->
            <input formControlName="Address" name="Address" type="text" class="form-control textTranform"
              placeholder="Enter Address" [ngClass]="{ 'is-invalid': submitted && f1.Address.errors }" />
            <div class="text-danger" *ngIf="submitted && f1.Address.errors && f1.Address.errors.required">
              Address is required</div>
          </div>
          <div class="form-group">
            <label>Address1</label>
            <!-- <input [(ngModel)]="Address1" name="Address1" type="text" class="form-control"> -->
            <input formControlName="Address1" name="Address1" type="text" class="form-control textTranform"
              placeholder="Enter Address1" />

          </div>
          <div class="form-group">
            <label>Earnings</label>
            <!-- <input [(ngModel)]="Earnings" name="Earnings" type="text" class="form-control"> -->
            <input formControlName="Earnings" name="Earnings" type="number" class="form-control textTranform"
              placeholder="Enter Earnings" [ngClass]="{ 'is-invalid': submitted && f1.Earnings.errors }" />
            <div class="text-danger" *ngIf="submitted && f1.Earnings.errors && f1.Earnings.errors.required">
              Earnings is required</div>
          </div>
          <div class="form-group">
            <label>Deduction</label>
            <!-- <input [(ngModel)]="Deduction" name="Deduction" type="text" class="form-control"> -->
            <input (keyup)="calculate()" formControlName="Deduction" name="Deduction" type="text"
              class="form-control textTranform" placeholder="Enter Deduction"
              [ngClass]="{ 'is-invalid': submitted && f1.Deduction.errors }" />
            <div class="text-danger" *ngIf="submitted && f1.Deduction.errors && f1.Deduction.errors.required">
              Name is required</div>
          </div>
          <div class="form-group">
            <label>Total_pay</label>
            <!-- <input [(ngModel)]="Total_pay" name="Total_pay" type="text" class="form-control" readonly> -->
            <input formControlName="Total_pay" readonly name="Total_pay" type="text" class="form-control textTranform"
              placeholder="Enter name" />
          </div>
          <div class="form-group">
            <label>Qualiication</label>
            <!-- <input [(ngModel)]="Qualification" name="Qualification" type="text" class="form-control"> -->
            <input formControlName="Qualification" name="Qualification" type="text" class="form-control textTranform"
              placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f1.Qualification.errors }" />
            <div class="text-danger" *ngIf="submitted && f1.Qualification.errors && f1.Qualification.errors.required">
              Name is required</div>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-primary" *ngIf='edit' (click)=update_value()>Update</button>
            <button type="button" class="btn btn-sm btn-primary" *ngIf='!edit' (click)=save_value()>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>